Google Forms Jira Issue Creator.json
{
  "name": "Google Forms → Jira Issue Creator",
  "nodes": [
    {
      "parameters": {
        "content": "## Required\n\n\n• Google Form + response sheet\n• Jira Cloud project (API email + API token)\n• Gmail credential",
        "height": 176,
        "width": 304,
        "color": 3
      },
      "id": "8b90ebac-96e0-4b28-8024-edd6692f45c9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        208,
        -16
      ],
      "id": "f7d9bcc1-d9c2-4844-ab4d-7d9d6b8610c3",
      "name": "Trigger when row added",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "3lAHCn7CBb11QTMg",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const priorityMap = {\n  \"Highest\": \"1\",\n  \"High\": \"2\", \n  \"Medium\": \"3\",\n  \"Low\": \"4\",\n  \"Lowest\": \"5\"\n};\n\nconst sheetPriority = ($json['Priority'] || \"\").toString().trim();\nconst jiraPriority = priorityMap[sheetPriority] || \"3\";\nconst context = $json['Context'] || \"No context provided\";\nconst email = $json['Adresse e-mail'] || $json['Email'] || \"No email provided\";\n\n// keep data from the  Google Sheets Trigger\nconst originalData = $input.first().json;\n\nreturn {\n  ...originalData,  // keep all data from trigger\n  priority: jiraPriority,\n  summary: context,\n  description: `Email: ${email}\\nContext: ${context}\\nSteps to reproduce: ${$json['If bug, steps to reproduce'] || \"N/A\"}\\nAcceptance criteria: ${$json['Acceptance criteria'] || \"N/A\"}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -16
      ],
      "id": "5278e62a-2d6c-4aa5-8621-77e38efd9dc6",
      "name": "Normalize fields"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10002",
          "mode": "list",
          "cachedResultName": "test2"
        },
        "issueType": {
          "__rl": true,
          "value": "10014",
          "mode": "list",
          "cachedResultName": "Story"
        },
        "summary": "={{$json.summary}}",
        "additionalFields": {
          "description": "={{$json.description}}",
          "priority": {
            "__rl": true,
            "value": "={{$json.priority}}",
            "mode": ""
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        672,
        -16
      ],
      "id": "ce1d830b-85af-423f-81d1-36089e5ce1ae",
      "name": "Cretate Jira Ticket",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "lvsJXpsetLJRz9RJ",
          "name": "Jira SW Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        -16
      ],
      "id": "387f2792-94a0-43ec-b358-a27229c50566",
      "name": "Update the Google sheet with tickets information",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c1iXpA4kOmymMGXu",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "subject": "You just received a new ticket",
        "message": "=<p>Hello, you just received a new Jira ticket created.</p>\n\n<p><strong>Details:</strong></p>\n<ul>\n  <li><strong>Reference:</strong> {{$node[\"Cretate Jira Ticket\"].json.key}}</li>\n  <li><strong>URL:</strong> \n    <a href=\"https://YOURSITE.atlassian.net/browse/{{$node['Cretate Jira Ticket'].json.key}}\">View ticket</a>\n  </li>\n  <li><strong>Title:</strong> {{\n    (String($node[\"Normalize fields\"].json.summary ?? '')\n      .replace(/\\s+/g,' ')\n      .trim())\n    || 'New issue from Google Form'\n  }}</li>\n  <li><strong>Priority:</strong> {{\n    (()=>{\n         const p = String($node[\"Normalize fields\"].json.priority ?? $json.priority ?? '').toLowerCase().trim();\n         const map = { '1':'Highest','2':'High','3':'Medium','4':'Low','5':'Lowest',\n                       'highest':'Highest','high':'High','medium':'Medium','low':'Low','lowest':'Lowest' };\n         return map[p] || (p || 'Medium');\n       })()\n  }}</li>\n  <li><strong>Status:</strong> {{ String($json.status ?? 'Created') }}</li>\n</ul>\n\n<p><strong>Requester:</strong></p>\n<ul>\n  <li><strong>Email:</strong> {{\n    $node[\"Trigger when row added\"].json[\"Adresse e-mail\"]\n    || $node[\"Trigger when row added\"].json.Email\n    || $node[\"Normalize fields\"].json[\"Adresse e-mail\"]\n    || $node[\"Normalize fields\"].json.Email\n    || ''\n  }}</li>\n</ul>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        -16
      ],
      "id": "5cc9d8ed-dea5-44cc-bc5f-60fcc2a8b464",
      "name": "Notification email",
      "webhookId": "875c21fa-2282-4652-b4f7-7894df8d7769",
      "credentials": {
        "gmailOAuth2": {
          "id": "C7dkDtQlmRSRwBlz",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1) Trigger and Normalize \n\nTrigger: New row added to Google Sheets\n\nData Processing:\n- Clean and normalize all fields\n- summary: Single-spaced, trimmed text\n- description: Preserve paragraphs (trimmed)\n- reporter_email: Extract from \"email address\" or \"Email\" fields\n- Handle optional fields (like attachments)\n\nBest Practices:\nPerform all data cleaning here to avoid reprocessing later",
        "height": 704,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -544
      ],
      "typeVersion": 1,
      "id": "d4016ada-d836-4ff2-9c57-882fda5d1e1f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 2) Create Jira ticket\n\nAction: Call Jira API to create ticket\n\nKey Parameters:\n- Project: \n- Type: Story\n- Priority: Mapped to Jira IDs (1-5)\n- Description: Standardized format\n\nOutputs:\n- Ticket key (e.g., TES-503)\n- Ticket URL\n- Creation status\n\nTips\nPriority: Map with the ID",
        "height": 704,
        "width": 304,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        -544
      ],
      "typeVersion": 1,
      "id": "0df66792-90e8-4802-9e0b-33d46d8f9e0d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 3) Update the sheet and send Gmail notification\nAction: Update source row with Jira information\n\nUpdated Fields:\n- jira_key: Ticket reference\n- jira_url: Ticket link\n- status: \"Created\"\n- created_at: Creation timestamp\n\nMatching Mechanism:\n- Use \"Horodateur\" column for row matching\n\n\nAction: Send confirmation email\n\nRecipients: The person who needs to get the notification + eventually the requester\n\nContent:\n- Ticket reference and link\n- Title and priority\n- Creation status\n- Requester information",
        "height": 704,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -544
      ],
      "typeVersion": 1,
      "id": "6379b494-5fd6-4795-8310-2b3b28dbf39a",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger when row added": {
      "main": [
        [
          {
            "node": "Normalize fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize fields": {
      "main": [
        [
          {
            "node": "Cretate Jira Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cretate Jira Ticket": {
      "main": [
        [
          {
            "node": "Update the Google sheet with tickets information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the Google sheet with tickets information": {
      "main": [
        [
          {
            "node": "Notification email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e5ef1b9-61ec-41c0-bd9a-ae923ff3e582",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0430772da25f7bca29bf5ef2b251086a85fb4096503a6f781526d32befd038d6"
  },
  "id": "JmH0beZB5ZUgJGor",
  "tags": [
    {
      "createdAt": "2025-08-18T07:16:22.720Z",
      "updatedAt": "2025-08-18T07:16:22.720Z",
      "id": "MxIJ6vHorSEdfi3v",
      "name": "google form"
    },
    {
      "createdAt": "2025-08-18T07:16:22.709Z",
      "updatedAt": "2025-08-18T07:16:22.709Z",
      "id": "eAzNESqLUWwWMrE9",
      "name": "gmail"
    },
    {
      "name": "Jira",
      "id": "EYNbAs3Q9sg9NksG",
      "createdAt": "2025-09-10T10:47:53.750Z",
      "updatedAt": "2025-09-10T10:47:53.750Z"
    },
    {
      "createdAt": "2025-08-18T07:16:22.756Z",
      "updatedAt": "2025-08-18T07:16:22.756Z",
      "id": "7zEwLFClveXBEcdb",
      "name": "google sheet"
    }
  ]
}